<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Johannes</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="container">
      <div class="section">
        <a href="./about"> Check out Johannes About page </a>
      </div>
      <div class="section">
        <a href="./works"> Check out Johannes Work page </a>
      </div>
    </div>
  </body>
</html>
